/* select the body tag */

body {
    margin: 0;
}
/* select all the tags <section> */

section {
    border-bottom: 1px solid black;
    overflow: hidden;
}
/* select all the tags that have
        class="technologies"
        or even class="technologies some-other-class" 
        or even class="some-other-class technologies some-third-class"
*/

.technologies {
    background-color: aliceblue;
}

.schedule {
    background-color: tomato;
}

.curriculum {
    background-color: rgba(0, 255, 0, 0.5);
}
/* select all the UL elements that are anywhere insde a NAV element */

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
}

nav {
    background: blue;
    padding: 5px 10px;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid black;
}

footer {
    background-color: #222;
    padding: 10px 20px;
    color: #f4f4f4;
}

footer a {
    text-decoration: none;
    color: tomato;
}

.partners {
    float: right;
}

.partners ul li {
    float: left;
    list-style: none;
    padding: 0px 15px;
}

.links {
    float: left;
}

.partners ul li a img {
    width: 100px;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
.clearfix { display: block; }


